body{
    background-color:  #888D8F; 
}


.green-overlay{
    background-color: #5cc220;
    
    margin-right: 2%;
    margin-left: 2%;
    padding-top:2%;
    padding-bottom: 2%
}

.title-background{
    background-color: #fafafa;
    
}

.white-overlay{

background-color: #fafafa;
    margin-right: 3%;
    margin-left: 3%;
  
}
