@import url('https://fonts.googleapis.com/css?family=Exo|Ranga|Roboto|Slabo+27px: 100, 200, 300, 400, 500, 600, 700');

.amazon-paragraph{
    font-family: "Roboto", sans-serif;

}

.mission-statement{
    font-family: "Roboto", sans-serif;
    size: 10px;
}