.logo {
    background: url("../images/House\ of\ Elders\ logo\ -CMYK.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 150px;
    padding-bottom: 50px;
    margin: 25px;
}

.mobile-logo {
    background: url("../images/hofespike1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 50px;
    padding-bottom: 50px;
    margin: 25px;
    display: none;
}

.bungie-logo {
    background: url("../images/septagon-icon-logo-200x116.png");
    width: 100px;
    height: 50px;
}



.social-links li a i {
    width: 40px;
    height: 40px;
    font-size: 50px;
}

.fa-twitch {
    color: #6441a4;
}

.fa-twitter-square {
    color: #55aded;
}

