@import url('https://fonts.googleapis.com/css?family=Exo|Ranga|Roboto|Slabo+27px: 100, 200, 300, 400, 500, 600, 700');
@import url("nav.css");
@import url("backgrounds.css");
@import url("alignment.css");
@import url("font-color.css");
@import url("nav.css");
@import url("fonts.css");
*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}


.amazon-link{
    margin-left: 5%
}

.logo {
    background: url("../images/House\ of\ Elders\ logo\ -CMYK.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 150px;
    padding-bottom: 50px;
    margin: 25px;

}

.mobile-logo{
    background: url("../images/HofE\ Spike\ icon\ -CMYK-10cm.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 150px;
    padding-bottom: 50px;
    margin: 25px;
    display: none;
}


@media(max-width: 480px){
   .logo{
      display: none;
    }
    .mobile-logo{
        background: url("../images/HofE\ Spike\ icon\ -CMYK-10cm.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 300px;
        padding-bottom: 50px;
      display: flex;
      max-height: 200px;
    }
}

