@media(max-width: 1200px) {
    .logo {
        display: none;
    }
    .mobile-logo {
        background: url("../images/hofespike1.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        min-height: 200px;
        padding-bottom: 50px;
        display: flex;
    }
    .social-links li {
        padding-bottom: 20px;
    }

}

@media(max-width: 768px) {
    .logo {
        display: none;
    }
    .mobile-logo {
        background: url("../images/hofespike1.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        min-height: 200px;
        padding-bottom: 50px;
        display: flex;
    }

 
    .center-align 
{
    align-items: center;
    justify-content: stretch;
}
    .social-links li {
        padding-bottom: 20px;
    }
    .bungie-logo {
        background: url("../images/septagon-icon-logo-200x116.png");
        width: 100px;
        height: 50px;
        right: 24px;
    }

}