.nav-link:hover{
    color: rgb(204, 201, 201);
}

.nav-item{
    align-self: center;
}
.nav-link{
    color: #ffffff !important;
    text-align: center;
}

.navbar {
    margin-bottom: 1%;
}

.bg-primary{
    background-color: dimgray !important;

}