@import url('https://fonts.googleapis.com/css?family=Exo|Ranga|Roboto|Slabo+27px: 100, 200, 300, 400, 500, 600, 700');

nav{
    display: flex;
  justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: "Roboto",sans-serif;
    background-color: 	#4A4F52; 
    
}
.nav-logo{
    color: #5cc220;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size:20px;
}

.nav-links{
    display: flex;
    width: 40%;
    justify-content: space-around;

}
.nav-links li{
    list-style: none;
}

.nav-links a{
    color: #5cc220;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size:12px; 
}

.burger{
    display: none;
}

.burger div{
    width: 25px;
    height: 2px;
    margin: 5px;
    background-color: #5cc220;
    transition: all 0.3s ease;

}

@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
  .nav-links{
      position: absolute;
      right:0px;
      height: 92vh;
      top: 8vh;
      background-color: 	#4A4F52; 
      display: flex;
      flex-direction: column;
      align-items: center;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
  }

  .nav-links li{
      opacity: 0;
  }

  .burger{
      display: block;
      cursor: pointer;
  }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle-ani .line1{
transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle-ani .line2{
   opacity: 0;
}
.toggle-ani .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}